.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main__header {
  height: 30px;
  background-color:#262651;
  width: auto;
}
.title_text {
  margin: 5px;
  color:rgba(38, 246, 38, 0.859);
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 3%;
}

.help_text {
  position: absolute;
  top: 5px;
  right: 5%;
  color: white;
}

.main_title {
  text-align: center;

}

/* .tab__two {
  position: absolute;
  left: 50%; 
  margin-left: 50px; 
} */

 .tabs_div :hover {
  cursor: pointer;
}

.tabs_div :focus {
  outline: none !important ; 
  cursor: pointer;
}


/* .grid_inputone {
  width: 360px;
}

.grid_inputtwo {
  position: absolute;
  width: 350px;
  right: 7%;
}

.grid_three {
  width: 350px;
}

.grid_four {
 position: absolute;
 top: 61%;
 left: 45%;
 width: 350px;
} */

.grid_container{ 
  margin: 0px;
  padding: 0px;
}

.page_nav {
 background: gray;
 height: 40px;
 border-radius: 5px;
}

.page_navtext {
  color: rgb(20, 234, 20)
}

.grid_headingone {

  height: 70px;
  border-radius: 5px;
  top: 34%;
  text-align: center;
 }

.grid_headingtwo {
  background: rgb(238, 211, 142);
  height: 150px;
  border-radius: 5px;
  top: 42%;
  text-align: center;
}

.grid_left {
  min-height: 30vh;
  text-align: center;
}

.grid_right {
  justify-content: space-between;
  flex-direction: column;
  min-height: 30vh;
  display: flex;
  text-align: center;
}

.page_body {
  height: 50vh;
  background-color: rgb(252, 217, 129);
  text-align: center;
}

.table_div {
  background-color:  rgb(252, 217, 129);
}

.submit_btn {
  justify-content: flex-end;
  display: flex;
}